
* {
	color:#FFFFFF;
}
body {
	background-color: #607D8B;
	font-family: verdana;
}

#wrapper {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	padding-top: 70px;
	text-align: center;
}
#score {
	padding-top: 10px;
	/*color: #727272;*/
}

#grid {
	width:300px;
	height:325px;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	padding-top: 20px;
	color: #B6B6B6;
}

#button {
	background-color: #536DFE;
}

#timer {

}

#content {
	/*width: 800px;
	height: 800px;*/
}

#prompt {
	width: 350px;
	height: 25px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 100;
	padding: 10px 10px 10px 10px;
	background-color: #455A64;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

#endSplash {
	width: 500px;
	height: 250px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 150;
	background-color: #455A64;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

#retryButton {
	width: 150px;
	height: 20px;
	margin: auto;
	position: relative;
	text-align: center;
	vertical-align: middle;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: #536DFE;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	cursor: pointer;
}

#submitButton {
	width: 150px;
	height: 20px;
	margin: auto 5px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: #536DFE;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	cursor: pointer;

}

#input {
	margin: auto;
	position: relative;
	top: 0; left: 0; bottom: 0; right: 0;
}

#messageText {
	vertical-align: middle;
}

td {
	cursor:pointer;
	width:auto;
	height:auto;
	border:1px solid #B6B6B6;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

ul {
	list-style-type: none;
}

input {
	color: #212121;
}
