body {
	color:#FFFFFF;
	background-color: #607D8B;
	font-family: verdana;
}

#wrapper {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	padding-top: 70px;
	text-align: center;
}
#score {
	padding-top: 10px;
}

#grid {
	width:300px;
	height:325px;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	padding-top: 20px;
	color: #B6B6B6;
}

.button {
	margin: auto;
	position: relative;
	text-align: center;
	vertical-align: middle;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: #536DFE;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	cursor: pointer;
}

.frame {
	margin: auto;
	margin-top: 140px;
	padding: 10px;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 150;
	background-color: #455A64;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

#startSplash, #endSplash {
	width: 300px;
	height: 285px;
}

#button {
	background-color: #536DFE;
}

#prompt {
	width: 300px;
	height: 25px;
	margin-top: 267px;
}

#buttonStd, #buttonInv {
	width: 100px;
	height: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#retryButton {
	width: 150px;
	height: 20px;
}

#submitButton {
	width: 100px;
	height: 20px;
	margin: auto 5px;
	border: none;
}

#input {
	width: 100px;
	margin: auto;
	position: relative;
	top: 0; left: 0; bottom: 0; right: 0;
}

#messageText {
	vertical-align: middle;
}

td {
	cursor:pointer;
	width:auto;
	height:auto;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

ul {
	list-style-type: none;
	padding: 0;
}

input {
	color: #212121;
}
